@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  line-height: 1.2;
  border-radius: 0rem;
}

button {
  border-radius: 0rem;
  padding: 0.25rem 0.5rem;
  font-size: 8px;
}

input {
  border-radius: 0rem;
  padding: 0.25rem;
  font-size: 8px;
}

h1 {
  border-radius: 0rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}
